@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
.input-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-style input{
    display: block;
    width: 350px;
    height: 35px;
    margin: 10px 0;
    border-radius: 10px;
    outline-color: #dcc397;
    border: 1px solid gray;
}

.input-style textarea{
    width: 350px;
    height: 100px;
    margin:0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    outline-color: #dcc397;
}
.submit-btn{
    background-color:  white;
    color: #dcc397;
    font-weight: 700;
    width: 100px !important;
    border: 1px solid white;
    transition: 0.3s ease;
}

.submit-btn:hover{
    background-color: #dcc397;
    color: #ffffff;
    
}

.order-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
body{
    background: #f3f7fd;
}
.accordion-button:not(.collapsed) {
    background-color: white !important;
}
.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    background-color: #fff !important;
    box-shadow: 0 !important;
}

.order-details h3{
    font-size: 25px;
    font-weight: 700;
    color: #2D3954;
    font-family: 'Jost', sans-serif;
    margin-top: 10px;
  }
  .order-details h4{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 400;
    color: #4e5c79;
  }
  .order-details h5{
      font-size: 24px;
      font-weight: 700;
      font-family: 'Jost', sans-serif;
      color: #dcc397;
  }
.order-details span{
    
    padding:  8px 15px;
    background-color: rgba(247, 68, 0, 0.1);
    border-radius: 0 10px;
    color: #f74400;
    margin-bottom: 10px;
}
.text-color {
    color: #dcc397;
}
.accordion-button:not(.collapsed) {
    color: #dcc397;
}
.accordion-button:not(.collapsed)::after {
    filter: grayscale(100%);
}

.rounded-bg{
    border-radius: 10px;
}