.section{
    margin-top: 100px !important;
}
.order-img img{
    border-radius: 20px;
    width: 100%;
    height: 470px;
}
.order-text{
    text-align: center;
}
.input-style select {
    margin: 10px 0;
    width: 100px;
    height: 30px;
}
.input-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-style input{
    display: block;
    width: 400px;
    height: 35px;
    margin: 10px 0;
    border-radius: 10px;
    outline-color: #dcc397;
    border: 1px solid gray;
}

.input-style textarea{
    width: 400px;
    height: 100px;
    margin:0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    
}

.submit-btn{
    background-color:  white;
    color: #dcc397;
    font-weight: 700;
    width: 100px !important;
    border: 1px solid white;
    transition: 0.3s ease;
}

.submit-btn:hover{
    background-color: rgb(45, 50, 54);
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255) !important;
}
.bg-color{
    background-color: #dcc397;
    border-radius: 20px;
    margin-bottom: 50px;
}
.middle{
    margin: auto;
}